body {
	color: black;
	background-color: #ccc1c0 !important;
}

text {
	cursor: default;
}

.btn {
	background-color: maroon;
	color: #ccc6c6;
	margin: 10px;
  font-weight: bold;
  font-family: Tahoma;
}

.btn:hover {
	opacity: 0.9;
}